.ben-wrapper
  .home-banner
    %h1.home-title Thirteen Virtues
    = link_to "START TODAY", new_user_registration_path, class: "button", id: "home-button"
.content-wrapper
  .quote-wrapper
    %p.ben-quote "Either write things worthy reading,
    %p.ben-quote or do things worth the writing."
    %p.ben-quote - Benjamin Franklin
  .intro-wrapper
    %h2.intro-title Be Like Ben
    %p.intro-text Benjamin Franklin set out 13 virtues for his life that helped him become the icon that he is today. Join the ranks and choose what matters to you. We will help along the way.
