= render "layouts/messages"
.getting-started-wrapper
  = render "getting_started"
  = render "adding_daily_report"
- if current_user.daily_reports.count > 1
  .profile-wrapper
    %h2.profile-title Virtue Dashboard
    #main-graph
    #bar-graph
    #pie-chart
