.welcome-wrapper
  - flash.each do |name, msg|
    - if msg.is_a?(String)
      .alert= msg
.getting-started-wrapper
  = render "getting_started"
  = render "adding_daily_report"
.profile-wrapper.large-12.columns
  #main-graph
  #pie-chart
  #bar-graph
