.virtue-wrapper
  %li
    %h4.virtue-title= @commitment.virtue.name
    %p.field-label description:
    %p.virtue-description= @commitment.description
    .button-bar
      %ul.button-group
        %li
          %a.small.button{:href => "#"} Edit
        %li
          %a.small.button{:href => "#"} Delete
