.row
  .virtues-wrapper.large-12.columns
    %h2.virtues-index-title Virtues
    .add-virtues-wrapper.large-6.columns.large-offset-3.small-10.small-offset-1
      %h3.add-virtue-title Add Virtue
      .ui-widget
        %label Virtue
        %select.add-virtues-select
          %option(value="") start typing...
          %option(value="a") a
          %option(value="abc") abc
          %option(value="java") java
          %option(value="javascript") javascript
          %option(value="home") home
          %option(value="stead") stead
      %label Description
      %textarea.virtue-description
