// .custom-combobox {
//   position: relative;
//   display: inline-block;
// }
// .custom-combobox-toggle {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   margin-left: -1px;
//   padding: 0;
// }
// .custom-combobox-input {
//   margin: 0;
//   padding: 5px 10px;
// }

.ui-button-text {
  background-color: white;
}

.ui-button {
  // height: 25px;
  margin-bottom: 4px;
}

.ui-widget .ui-autocomplete-input {
  height: 38px;
  padding: 5px;
  margin-right: 0;
  font-size: .9em;
}

// .ui-widget .ui-menu {
//   font-size: .9em;
// }
