@import "foundation/components/grid";

.entry-record {
  list-style-type: none;
  @include grid-column(
    $columns: 9,
    $offset: 1.5
  )
}

.entry-date {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.entry {
  line-height: 1.6em;
  margin-bottom: 40px;
}

.journal-entry-title {
  text-align: center;
  margin-bottom: 17px;
}

.daily-report-wrapper {
  @include grid-column(
    $columns: 8,
    $offset: 2,
    $center: true
  );

  .new-daily-report-title {
    text-align: center;
  }
}

.radio-button-block {
  display: block;
  height: 25px;
}

.daily_report_virtue_rating {
  border-top: 1px solid black;
  @include grid-column(
    $columns: 6
  );
  padding: 20px 30px;
}

.daily_report_virtue_rating:nth-child(odd) {
  border-right: 1px solid black;
}

.submitted-report-message {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
  padding: 5px;
  font-weight: bold;
}


@media screen and (max-width: 750px) {
  .daily-report-wrapper {
    @include grid-column(
      $columns: 10,
      $offset: 1,
      $center: true
    );
  }
}

@media screen and (max-width: 570px) {
  .daily_report_virtue_rating {
    @include grid-column(
      $columns: 12
    );
    border: 1px solid black;
    margin: 10px 0;
  }

  .submitted-report-message {
    width: 95%;
    margin-bottom: 5px;
  }
}
