@import url(http://fonts.googleapis.com/css?family=Meddon);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$logo-font: "Meddon", "Georgia", "serif";
$serif-font: "Roboto Slab", "Georgia", "serif";
$sans-serif-font: "Open Sans", "Arial", "sans-serif";
