@import "foundation/components/grid";

.virtues-wrapper {
  @include grid-column(12);
  margin: 20px 0 0 0;
}

.virtues-index-title {
  text-align: center;
  display: inline-block;
  @include grid-column(
    $columns: 4,
    $offset: 4
  );
}

.show-add-virtue {
  @include grid-column(4);
  display: none;
  text-align: right;
  padding: 10px 52px 0 15px;
  button {
    padding: 16px;
  }
}

.heading-wrapper {
  @include grid-column(
    $columns: 10,
    $offset: 1
  );
}

.add-virtues-wrapper {
  @include grid-column(
    $columns: 6,
    $offset: 3
  );
  border: 1px solid black;
  padding: 20px 30px;
  visibility: hidden;

  .add-virtue-title {
    text-align: center;
  }
}

.hide-add-virtue:hover {
  text-decoration: underline;
}

.final-virtue-wrapper {
  display: none;
}

#virtue-commitments-description {
  height: 45px;
}

.virtue-input-note {
  font-size: .8rem;
}

#virtue_name.final-virtue-input {
  margin-bottom: 5px;
}

.hide-add-virtue {
  margin-left: 10px;
}

.virtues-list-wrapper {
  margin: 20px 0;
  @include grid-column(
    $columns: 12,
    $offset: 0
  );
}

.virtues-list {
  margin-left: 0;
  @include grid-column(
    $columns: 9,
    $offset: 1.5
  );

  .virtue-wrapper {
    padding: 10px 35px 10px 60px;
    // border: 1px solid black;
    box-shadow: 0px 0px 10px darken(#686868, 10%);
    background-color: white;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 1.6rem;
  }
}

.virtue-description {
  font-size: 1.1rem;
  line-height: 1;
}

.virtue-title {
  margin-bottom: 0;
}




@media screen and (max-width: 1000px) and (min-width: 575px) {
  .add-virtues-wrapper {
    @include grid-column(
      $columns: 7,
      $offset: 2.5
    );
  }
}

@media screen and (max-width: 575px) {
  .add-virtues-wrapper {
    @include grid-column(
      $columns: 11,
      $offset: .5
    );
  }

  .virtues-list-wrapper {
    @include grid-column(
      $columns: 12,
      $offset: 0
    );

    .virtue-description {
      font-size: 1rem;
    }

    .button-bar {
      height: 40px;
    }
  }

  .virtue-title {
    font-size: 1.4rem;
  }

  .virtues-list {
    @include grid-column(
      $columns: 12,
      $offset: 0
    );
    margin-left: 0;
    .virtue-wrapper {
      padding: 10px 15px 10px 40px;
    }
  }

  .heading-wrapper {
    @include grid-column(
      $columns: 12,
      $offset: 0
    );
  }

  .virtues-index-title {
    @include grid-column(
      $columns: 12,
      $offset: 0
    );
  }

  .show-add-virtue {
    @include grid-column(
      $columns: 12,
      $offset: 0
    );
    height: 35px;
    text-align: center;
    padding: 0 0 0 0;
  }
}

@media screen and (max-width: 400px) {
  .virtues-list-wrapper .virtue-wrapper {
    border: none;
    border-bottom: 1px solid black;
    padding: 10px 15px;
  }
}
