.virtues-wrapper {
  margin: 20px 0 0 0;

  .virtues-index-title {
    text-align: center;
  }
}

.add-virtues-wrapper {
  border: 1px solid black;
  border-radius: 7px;
  padding: 20px 30px;
  visibility: hidden;

  .add-virtue-title {
    text-align: center;
    font-weight: bold;
  }
}

.show-add-virtue {
  float: left;
  display: none;
}

.hide-add-virtue:hover {
  text-decoration: underline;
}

.final-virtue-wrapper {
  display: none;
}
