.row
  .wrapper
    %h2.journal-entry-title Journal
    - if @daily_reports.length > 0
      %ul.entry-records
        - @daily_reports.each do |report|
          %li.entry-record
            %p.entry-date= report.created_at.strftime("%B %d, %Y")
            %p.entry= report.entry
    - else
      %p.no-journal-entry-message No daily reports have been created.
